@import "node_modules/bootstrap/scss/bootstrap-grid";

.animal-container {
  .animal-row {
    height: calc(100vh - 113px);

    img {
      border: 0;
      outline: 0;
    }

    @include media-breakpoint-up(lg) {
      height: calc(100vh - 38px);
    }
  }
}
