<section class="container-fluid animal-container">
    <div class="row animal-row align-items-center justify-content-center">
        <div class="col-12" *ngIf="animal?.url && !isLoading; else loading">
            <div role="button" (click)="changeAnimal()" class="card mx-auto" style="width: 18rem;">
                <img src="{{ animal?.url }}" class="card-img-top" alt="">
            </div>
        </div>
    </div>
</section>

<ng-template #loading>
    <ng-container *ngIf="isLoading; else error;">
        <div class="col-12 text-center">
            <p>Loading...</p>
        </div>
    </ng-container>
</ng-template>

<ng-template #error>
    <div class="col-12 text-center">
        <div role="button" (click)="changeAnimal()">
            <p>Error :(</p>
            <p>Please, click here to get another cute animal image.</p>
        </div>
    </div>
</ng-template>
