<nav class="container-fluid bg-success">
    <div class="row align-items-center">
        <div class="col-12 col-lg-3 mt-3 mt-lg-0 text-center text-lg-left">
            <h1>give me cute animals</h1>
        </div>
        <div class="col-12 col-lg-9 text-center text-lg-right">
            <a (click)="getAnimal()" class="d-none d-lg-inline-block btn btn-link text-white">show me another animal</a>
            <a (click)="getAnimal()" class="d-inline-block d-lg-none btn btn-danger my-3 text-white">show me another animal</a>
        </div>    
    </div>
</nav>